@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Montserrat", sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #040726;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #04072691; 
    border-radius: 10px;
  }
 